*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 3rem;
    background: rgb(162, 162, 162);
}

input{
    color: rgb(128, 128, 128);
    font-size: 1rem;
    width: 100%;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 1px solid gray;
    border-radius: .4rem;
    justify-content: center;
    margin: .8rem;
    overflow: hidden;
    text-align: center;
    width: 24rem;
    min-height: 16rem;
}

.card img{
    width: 24rem;
    height: 14rem;
}